// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page / Index Page
// -----------------------------------------------------------------------------

// ~*~ Imports ~*~
@import'../abstracts/variables';


body {
  background-color: $color1; 
  
  background: #434343;
  background: -moz-linear-gradient(-45deg, #434343 0%, #000000 100%);
  background: -webkit-linear-gradient(-45deg, #434343 0%, #000000 100%);
  background: linear-gradient(135deg, #434343 0%, #000000 100%);
};

#title {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


h1 {
  color: $color2; 
  font-family: $GF4;

};

h2 {
  color: $color2; 
  font-family: $GF4;

};

h3 {
  color: $color2; 
  font-family: $GF4;

};


h4 {
  color: $color2;
  font-family: $GF4;
};


h5 {
  color: $color2; 
  font-family: $GF4;

};

h6 {
  color: $color2; 
  font-family: $GF4;

};

p {
  color: $color3; 
  font-family: $GF4;

};

